<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="bloc" (click)="schedulNotification()">schedulNotification</ion-button>
<ion-button expand="bloc" (click)="recurringNotifications()">recurringNotifications</ion-button>
<ion-button expand="bloc" (click)="repeatingDaily()">repeatingDaily</ion-button>
<ion-button expand="bloc" (click)="getAll">getAll</ion-button>
<ion-list>
  <ion-item *ngFor='let n of scheduled'>
    <ion-label text-wrap>
{{n.id}} -{{n.title}}
<!-- <p>Trigger:{{n.trigger | json}}</p> -->
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
