
<ion-header>
  <ion-toolbar>
    <ion-title>עדכון סיסמא זמנית </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<form (submit)='submitForm()'  novalidate [formGroup]="ionicForm">
  <ion-item>
    <ion-label position="floating">סיסמא זמנית</ion-label>
    <ion-input formControlName='TempPassword' type='text'></ion-input>
    <ion-icon slot='end' name="eye" item-right ></ion-icon>
</ion-item>
  <ion-item>
    <ion-label position="floating"> סיסמא חדשה</ion-label>
    <ion-input formControlName='Password1' [type]="getType()"></ion-input>
    <ion-icon slot='end' name="eye" item-right (click)="toggleTextPassword()"></ion-icon>
</ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password1.errors?.pattern">
    At least eight numbers or/and letters of English or Hebrew language
   </span>
  <ion-item>
    <ion-label position="floating"> אימות סיסמא חדשה </ion-label>
    <ion-input type="text" formControlName='Password2'></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password2.errors?.pattern">
    אמת את הסיסמא החדשה
   </span>
  <ion-button type="submit" size="large" block >שלח</ion-button> 
  <ion-text #header>
    <p *ngIf='auth.mailSplit'>{{auth.mailSplit}}</p>
  </ion-text>
</form>

</ion-content>


