<ion-header>
  <ion-toolbar>
    <ion-title>שכחת סיסמא </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<form (submit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">תעודת זהות </ion-label>
    <ion-input type="text" name='tz' [(ngModel)]="Tz"></ion-input>
   
  </ion-item>
  <!-- <ion-button size="large" (click)='auth.in(name.value,password.value);' >הכנס</ion-button> -->
  <!-- <span>{{auth.message.error}}</span> -->
  <ion-button type="submit" size="large" block >שלח</ion-button>
  <p> <span #header></span></p>
</form>

</ion-content>